/*UTILITIES*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*END UTILITIES*/

.container{
  width: 1200px;
  margin: 0 auto;
}

/*HEADER*/
header{
  height: 700px;
  background: #083058;
}


/*END HEADER*/
